{% extends 'base.html.twig' %}

{% block title %}Atsumari{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/start_screen.css') }}">
{% endblock %}

{% block body_class %}flex-row-center-center{% endblock %}

{% block content %}
    <div id="root" data-show-nav="false" data-view="index"></div>
{% endblock %}
