{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/settings.css') }}">
{% endblock %}

{% block body_class %}flex-row-center-center body-nav{% endblock %}

{% block content %}
    <main class="flex-column-space-around-center">
        <div class="flex-column-space-around-center images">
            <img src="{{ asset('images/Atsumari.png') }}">
            <img src="{{ asset('images/avatar-img.png') }}" class="avatar-settings">
        </div>
        <div class="form-container">
            <h2 class="manage-text">Manage Your Account</h2>
            <form method="post">
                <button class="default-btn">Delete account</button>
                <button class="default-btn" type="submit" name="logout">Logout</button>
            </form>
        </div>
    </main>
{% endblock %}