{% extends 'base.html.twig' %}

{% block title %}Book details{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/book_details.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/book_details.js') }}"></script>
{% endblock %}

{% block body_class %}flex-row-center-center body-popup{% endblock %}

{%  block navbar %}{% endblock %}

{% block content %}
    <div class="popup flex-column-space-around-center">
        <h1>Book details</h1>
        <div class="book-details flex-column-space-around-center">
            <div class="bookcover flex-row-center-center">
                <img src="" class="cover-img" alt="">
            </div>
            <div class="flex-column-space-around-center details-container">
                <div>
                    <p>Title:</p>
                    <p id="title" class="details-text"></p>
                </div>
                <div>
                    <p>Author:</p>
                    <p id="author" class="details-text"></p>
                </div>
                <div>
                    <p>Pages:</p>
                    <p id="num-of-pages" class="details-text"></p>
                </div>
                <div>
                    <p>Genre:</p>
                    <p id="genre" class="details-text"></p>
                </div>
            </div>
        </div>
        <p id="read-message"></p>
        <a href="#" class="popup-light-btn" id="continue-reading">Continue Reading</a>
        <a href="{{ path('collection') }}" class="popup-cancel-btn light" id="close-popup">Close</a>
        <button class="popup-cancel-btn light" id="delete-btn">Delete Book</button>
    </div>
{% endblock %}